body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #0095ff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0%;
  right: 0%;
  top: 0;
  height:60px;
}

header img {
  border-radius: 15px;
  height: 50px;
  width: 50px;
}

#online-count {
  font-size: 18px;
  margin: 0;
  color: rgb(64, 233, 92);
}

main {
  padding-top: px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
}

#chat-container {
  overflow-y: auto;
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}

#chat-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #eee;
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0;
}

center{
  padding-top: 70px;
}

#notification{
  color: rgb(0, 0, 0);
  opacity: 0.7;
  font-size: 15px;
}

#message-input {
  border-radius: 15px;
  flex: 1;
  height: 36px;
  border: none;
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

button[type="submit"],button[type="button"] {
  border-radius: 15px;
  height: 48px;
  width: 70px;
  border: none;
  background-color: #0095ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}



.message {
  width: fit-content;
  max-width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.message.right {
  align-self: flex-end;
  border-bottom-right-radius: 0; 
}

.message.left {
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

h3{
  font-family: cursive;
}